{
    "AzureApplications": {
        "tenantId": [ "00000000-bb36-48a3-a903-7c6000000000"],
        "appId": [ "00000000-2894-49c6-aee9-0b91e0000000"],
        "certificatePath": [ "" ],
        "certificatePassword": [ "" ],
        "appSecret": [ "a7Xkwi~igs!kdtsUWn^hSMxkrp!ydnsOpebSa3H4bFAKE" ]
    },
    "Debug": "true",
    "DebugShowSecrets": "false",
    "LogPath": "",
    "TokenExpires": 15,
    "PollingTime": 5,
    "StartFetchMinutes": 1440,
    "PublisherIdentifier": "b03a4cb9-04f0-4f91-9061-961f77277f3c",
    "Webhooks": {
        "webhookAddress": [ "https://yourjsonendpoint.com" ],
        "webhookType": [ "Plain" ],
        "webhookAuthType": [ "Blank" ],
        "webhookAuth": [ "UHV0IHlvdXIgYmFzZTY0IGVuY29kZWQgYXV0aCB0b2tlbiBoZXJlIHBhZCA=" ],
        "api": [ "MicrosoftThreatProtection" ],
        "apiMethod": ["Incidents"]
    }
}
